.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
}

.container {
  justify-content: center;
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
}

.header-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to left top, #101316, #04c2c98a);
  opacity: 80%;
}
.header-content {
  z-index: 2;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2.5rem;
    display: block;
    padding-bottom: 2rem;
    margin: 0;
  }
}

.highlight {
  color: #e31b6d;
}

.btn {
  display: inline-block;
  font-weight: 500;
  padding: 15px;
  border: 2px solid white;
  font-size: 1.2rem;
  line-height: 11px;
  margin-bottom: 53px;
  cursor: pointer;
  transition-duration: 350ms;
}

.btn:hover {
  background: #e31b6d;
  border: 2px solid;
}
