.nav-bar {
  background-color: #1b242f;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid $img-border-color;
  ul {
    background-color: #1b242f;
    height: 3rem;
    width: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;

    font-weight: lighter;
  }
  a {
    padding: 2rem;
    text-decoration: none;
    color: white;
    font-family: 'inter';
  }
  a:hover {
    color: $highlights;
  }
}
