.contact {
  width: 100%;
  background-color: #1a1b1d;

  h2 {
    font-size: 1.2rem;
    padding: 2rem 0 2rem;
    text-align: center;
    color: $textcolor;
    font-weight: lighter;
  }
  input {
    width: 60%;
    background-color: #333;
    color: $textcolor;
    padding: 10px 15px;
    border: 0;
    margin-bottom: 3px;
  }
  textarea {
    width: 60%;
    height: 9rem;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: 0;
    margin-bottom: 3px;
    resize: none;
  }
}

form {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
}

.submit-btn {
  cursor: pointer;
}
.submit-btn:hover {
  background-color: rgb(72, 72, 72);
}
